.category {
  position: relative;
  width: 18em;
  height: 18em;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-shrink: 0;
  overflow: hidden;
}

.category-link {
  text-decoration: none;
}

.category-selectable-true {
  cursor: pointer;
}

.category:hover,
.category:active {

}

.category-name {
  width: 100%;
  color: #fff;
  margin: 0.5em 0.666em;
  /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 20%, rgba(255, 255, 255, 0) 50%); */
  background-color: rgba(0, 0, 0, 0.6);
}

.category-bg-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  background-size: cover;
  z-index: -1;
}

.category-breast-cancer {
  filter: hue-rotate(100deg);
}

.category-digestive-diseases {
  filter: hue-rotate(0deg);
}

.category-cardiology {
  filter: hue-rotate(125deg);
}

.category-diabetes {
  filter: hue-rotate(45deg);
}

.category-lung-cancer {
  filter: hue-rotate(230deg);
}

.category-alzheimers {
  filter: hue-rotate(320deg);
}